{% from "macros.html" import form_field with context %}

<div class="modal fade" id="AddNewModal" tabindex="-1" aria-labelledby="AddNewModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form id="add_form" action="/messages/new" method="POST">
            <div>
                {{ form.hidden_tag() }}
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="modal-footer">
            <button class="btn btn-outline-success btn-block" type="submit">Add my message!</button>
            </div>
            </form>
      </div>
    </div>
</div>