<!-- Modal Window to create message -->
<div class="modal fade" id="AddNewModal" tabindex="-1" aria-labelledby="AddNewModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form id="add_form" action="/messages/new" method="POST">
            {{ form.csrf_token }}
            <div>
                {% if form.text.errors %}
                {% for error in form.text.errors %}
                    <span class="text-danger">
                {{ error }}
                </span>
                {% endfor %}
                {% endif %}
                <div class="modal-body">
                {{ form.text(placeholder="What's happening?", class="form-control", rows="3") }}
                </div>
            </div>
            <div class="modal-footer">
            <button id="add_me" class="btn btn-outline-success btn-block" type="submit">Add my message!</button>
            </div>
            </form>
      </div>
    </div>
  </div>